nav {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: backgrund-color 0.4s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, .09);
  width: 100%;
  height: auto;
  background-color: #fff;
  top: 0;
  position: fixed;
  right: 0;
  z-index: 1000;
  padding: 25px 40px 25px 50px;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
nav ul a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition:all .23s;
}

nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  text-decoration: none;
  color: #2d2e32;
  font-size: 1.8rem;
  transition: .23s all;
  font-weight: 600;

}

nav .mainMenu li a:hover {
  color: rgba(3, 133, 3, 0.418);
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  color: #000;
}

.fa-facebook:hover {
  color: rgb(0, 110, 255);
}

.fa-twitch:hover {
  color: purple;
}

.fa-youtube:hover {
  color: red;
}

.fa-google-drive:hover {
  color: green;
}

nav .logo {
  cursor: pointer;
  color: #2d2e32;
  font-size: 2.1rem;
  font-weight: bold;

}

@media (max-width: 800px) {
   nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: all .3s ease-in-out;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 26px;
  }

  nav .openMenu {
    display: block;
    color: #000;
    font-size: 25px;
    margin: 0;
  }

  nav .mainMenu li a:hover {
    color: rgba(0, 128, 0, 0.418);
  }

  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

@media (max-width: 400px) {
  nav {
    padding-left: 10px;
  }

  #root {
    padding: 0 1.7rem;
  }
 }